:root {
	--bg-colour-1: #c8d6e8;
	--bg-colour-2: #8d9fb9;
	--fg-colour-: #41556d;
	--dark-shadow: #202e3f;
	--light-shadow: #5f7695;
	--text: #e8eefd;
	--pre-visit: #5b5c8f;
	--visit: #71749e;
	--post-visit: #4b4a7a;
}

@font-face {
	font-family: Ubuntu;
	src: url(../src/font/Ubuntu-Regular.ttf) format("truetype");
}

html,
body {
	overflow: hidden;
	margin: 0;
	font-family: Ubuntu, "times new roman", times, roman, serif;
	font-size: 18px;
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	background: linear-gradient(var(--bg-colour-1), var(--bg-colour-2));
}

input,
select,
button {
	font-family: Ubuntu, "times new roman", times, roman, serif;
	font-size: 18px;
	color: var(--text);
}

svg {
	width: 100%;
}

li {
	margin-bottom: 20px;
}

table {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 16px;
}

th {
	padding-right: 8px;
}

#root {
	display: flex;
	height: 95%;
}
#root > * {
	width: 100%;
}

#treeView {
	position: absolute;
	display: flex;
	top: 25px;
	bottom: 0px;
	left: 0px;
	right: 50%;
}

#statsPanel {
	flex: 50%;
}

#innerStatsPanel {
	margin: 5px;
	border-radius: 5px;
	background-color: var(--fg-colour-);
	height: 87vh;
	width: 97%;
	top: 1vh;
	position: relative;
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow);
}
#innerStatsPanel > div > a {
	position: relative;
	top: 5px;
	left: 5px;
}
a {
	color: var(--text);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#traverse,
#traverse > *,
#input,
#input > * {
	margin-left: 5px;
	margin-right: 5px;
	z-index: 1;
}

::placeholder {
	color: var(--text);
}

#topBarBackground {
	flex: 0%;
	background-color: var(--fg-colour-);
	box-shadow: 0px 2px 5px var(--dark-shadow);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
}

.handle {
	border-radius: 16px;
	height: 16px;
	width: 16px;
	position: relative;
	left: auto;
	transition: all 0.15s ease-out;
	z-index: "1";
	user-select: none;
	background-color: var(--fg-colour-);
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow);
	opacity: 0.5;
}
.handle:hover {
	opacity: 1;
}
.handle:active {
	background-color: transparent;
	box-shadow: none;
	transition-duration: 0s;
}
.handle.top {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0px 5px;
}
.handle.bottom {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: 0px 5px;
}

.line {
	stroke: var(--fg-colour-);
	stroke-width: 8;
	transition: all 0.15s ease-out;
	opacity: 0.5;
}
.line:hover {
	opacity: 0.75;
}
.line.inProgress,
.line:active {
	opacity: 1;
}

.nodeText {
	background-color: var(--fg-colour-);
	user-select: none;
	min-height: 25px;
	min-width: 50px;
	padding: 0px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin: 0px;
	position: relative;
	top: 0px;
	transition: all 0.15s ease-out;
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow);
}
.nodeText:hover {
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow), inset 1px 1px 7px var(--light-shadow),
		inset -1px -1px 7px var(--dark-shadow);
}
.nodeText:active {
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow), inset 2px 2px 5px var(--dark-shadow),
		inset -2px -2px 5px var(--light-shadow);
}

.pre-visit {
	background-color: var(--pre-visit);
}
.visit {
	background-color: var(--visit);
}
.post-visit {
	background-color: var(--post-visit);
}

.topBar {
	min-height: 40px;
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.topRow {
	border-radius: 5px;
	overflow: hidden;
	background-color: var(--fg-colour-);
	border: 0px;
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow);
	user-select: none;
	transition: all 0.15s ease-out;
	z-index: 1;
}
input.topRow {
	height: 25px;
}
.topRow:focus {
	outline: none;
}
.topRow:hover {
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow), inset 1px 1px 7px var(--light-shadow),
		inset -1px -1px 7px var(--dark-shadow);
}
.topRow:active {
	box-shadow: 2px 2px 5px var(--dark-shadow),
		-2px -2px 5px var(--light-shadow), inset 2px 2px 5px var(--dark-shadow),
		inset -2px -2px 5px var(--light-shadow);
}

.node {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	pointer-events: none;
}
.node > * {
	pointer-events: auto;
}
